<main [ngClass]="isCollapsed ? '' : 'collapsed'">
  <section class="sidebar">
    <ul>
      <li
        *ngFor="let option of menu"
        #rla="routerLinkActive"
        [routerLinkActive]="option?.children ? '' : 'nav-link-active'"
        class="sidebar-icon-wrapper"
      >
        <a
          *ngIf="!option?.route"
          (click)="toggleDropdown(option)"
          [ngClass]="option?.isChildActive ? 'nav-link-active' : ''"
        >
          <svg-icon [src]="option?.icon" [svgClass]="'sidebar-icon'"></svg-icon>
          <span>{{ option?.option }}</span>

          <span class="caret-icon-wrapper" *ngIf="option?.children">
            <svg-icon
              src="assets/icons/chevron-down.svg"
              [svgClass]="
                option?.collapsed ? 'caret-icon-rotate' : 'caret-icon'
              "
              [applyClass]="true"
            ></svg-icon>
          </span>
        </a>

        <a *ngIf="option?.route" [routerLink]="[option?.route]">
          <svg-icon [src]="option?.icon" [svgClass]="'sidebar-icon'"></svg-icon>
          {{ option?.option }}

          <span class="caret-icon-wrapper" *ngIf="option?.children">
            <svg-icon
              src="assets/icons/chevron-down.svg"
              [svgClass]="
                option?.collapsed ? 'caret-icon-rotate' : 'caret-icon'
              "
              [applyClass]="true"
            ></svg-icon>
          </span>
        </a>

        <ul *ngIf="option?.collapsed" class="sub-menu">
          <li
            *ngFor="let subOption of option.children"
            #rla="routerLinkActive"
            [routerLinkActive]="subOption.children ? '' : 'sub-nav-link-active'"
          >
            <a
              *ngIf="subOption?.route"
              class="sub-nav-link"
              [routerLink]="[subOption?.route]"
            >
              {{ subOption?.option | titlecase }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</main>
