.ant-btn,
.ant-btn-primary:focus {
  background: var(--primary-color-100);
  color: var(--white-100);
  border-color: var(--primary-color-100);
  border-radius: 8px;

  &:hover {
    background: var(--primary-color-300);
    border-color: var(--primary-color-300);
  }
}

.ant-btn[disabled],
.ant-btn[disabled]:hover {
  background: var(--primary-color-200);
  border-color: var(--primary-color200);
  color: var(--white-100);
}
