.ant-table-thead > tr > th {
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  text-transform: capitalize;

  &::before {
    display: none;
  }
}

.ant-table-cell {
  img,
  svg-icon {
    opacity: 1;
  }
}

.ant-table-container {
  min-height: 200px;
}

.ant-table-cell:first-child {
  border-left: 0.063rem solid var(--white-200);
}

.ant-table-cell:last-child {
  border-right: 0.063rem solid var(--white-200);
}
