main {
  background: var(--white);
  display: flex;
  position: relative;
}

.main-body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--white);
  padding: 0 0 15px 200px;
}

.router-outlet-wrapper {
  padding: 32px;
  transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 992px) {
  .main-body {
    padding: 4px 0;
  }

  .router-outlet-wrapper {
    padding: 16px;
  }
}
