main {
  background: var(--white);
  display: flex;
  position: relative;
  overflow: scroll;
}

.sidebar-wrapper {
  height: 100%;
  width: 200px;
  position: fixed;
}

.main-body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--white);
  padding: 0 0 15px 200px;
}

.page-title {
  display: flex;
  gap: 16px;
  font-weight: 400;
}

.menu-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg:hover {
    cursor: pointer;
  }
}

.menu-icon {
  display: none;
}

.router-outlet-wrapper {
  padding: 32px;
}

@media screen and (max-width: 992px) {
  .main-body {
    padding: 4px 0;
  }

  .menu-icon {
    display: flex;
  }
}
